:root{
    --dark-color:#262626;
    --darkText-Colour:#B9D9EC;
    --button-color:#e67e22;
    --button-hovercolor:#2c3e50;
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: var(--dark-color);
    color: var(--darkText-Colour);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}
.light-mode{
    background: var(--darkText-Colour);
    /* color: black; */
    color: var(--dark-color);
}
.contanaior{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.contanaior .dayAndTime{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 3px;
    color: var(--button-color);
    font-size: 25px;
    font-weight: 600;
}
.contanaior .dark-light button{
    padding: 10px 20px;
    background: var(--button-color);
    color: var(--darkText-Colour);
    outline: none;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
    
}
.contanaior .dark-light button:hover{
    background: var(--button-hovercolor);
} 
.gallery {
    --z: 32px;  /* control the zig-zag  */
    --s: 260px; /* control the size */
    --g: 8px;   /* control the gap */
    
    display: grid;
    gap: var(--g);
    width: calc(2*var(--s) + var(--g));
    grid-auto-flow: column;
  }
  .gallery > img {
    width: 0;
    min-width: calc(100% + var(--z)/2);
    height: var(--s);
    object-fit: cover;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    cursor: pointer;
    transition: .5s;
  }
  .gallery > img:hover {
    width: calc(var(--s)/2);
  }
  .gallery > img:first-child {
    place-self: start;
    clip-path: polygon(calc(2*var(--z)) 0,100% 0,100% 100%,0 100%);
    --mask: 
      conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 
        50%/100% calc(2*var(--z)) repeat-y;
  }
  .gallery > img:last-child {
    place-self: end;
    clip-path: polygon(0 0,100% 0,calc(100% - 2*var(--z)) 100%,0 100%);
    --mask: 
      conic-gradient(from   45deg at left ,#0000,#000 1deg 89deg,#0000 90deg) 
        50% calc(50% - var(--z))/100% calc(2*var(--z)) repeat-y;
  }
  
  /* body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #A8DBA8;
  } */
  h1 {
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: 3rem;
    word-spacing: .8em;
  }
  h1 span:first-child {
    color: #af3817;
  }
  h1 span:last-child {
    color: #0b3fa1;
  }